<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>KTM-Stages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>

    <div class="container">



        <div class="row">

            <div>
                <button id="getData" class="btn btn-primary">Update</button>
                <button id="createNewRoute" class="btn btn-primary">Create new route</button>
                <button id="testbtn" class="btn btn-primary">test</button>

            </div>

        </div>

        <div class="row" id="main_row">
            <div class="col-8">

                <h3>Delivery orders</h3>

                <table id="deliveryOrders" class="table">

                </table>
            </div>

            <div class="col" id="route_tables">
                <h3>Routes</h3>

                <table class="table">

                </table>

            </div>

        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/constants.js}"></script>
    <script type="text/javascript" th:src="@{/js/urls_1.js}"></script>
    <script type="text/javascript" th:src="@{/js/routes_.js}"></script>
    <script type="text/javascript" th:src="@{/js/order_details_.js}"></script>

    <script>

        console.log("111222333");

        //==========================

        function subRouteDetail(id, qty) {
            var _rd = rd_arr.filter(el => el.routeDetailId == id);
            var _od = od_arr.filter(el => el.id == _rd[0].deliveryOrderDetailId);
            postRouteDetail(_rd[0].routeId, _od[0], qty);
        }

        function sub_1(id) {
            subRouteDetail(id, -1);
        }

        function sub_10(id) {
            subRouteDetail(id, -10);
        }

        function sub_50(id) {
            subRouteDetail(id, -50);
        }

        //==========================


        function addRouteDetail(id, qty) {
            var _od = od_arr.filter(el => el.id == id);
            postRouteDetail(getRouteId(), _od[0], qty);
        }

        function add_1(id) {
            addRouteDetail(id, 1);
        }

        function add_10(id) {
            addRouteDetail(id, 10);
        }

        function add_50(id) {
            addRouteDetail(id, 50);
        }

        //==========================

        function postRouteDetail(routeId, orderDetail, qty) {

            $.ajax({
                url: urlPostRouteDtetail + '/' + routeId + '/' + orderDetail.id + '/' + qty,
                type: "POST",
                success: function () {
                    //updateOrderDetails();
                    //updateRouteList();
                    console.log('Added successfully!');
                    modifyRouteDetail(routeId, orderDetail, qty);
                }
            })

        }

        $(document).ready(function () {

            $('#getData').click(function () {
                updateOrderDetails();
                updateRouteList();
            })

            $('#testbtn').click(function () {
                getRouteDetailTagId(getRouteId(), 133);
            })

            $('#createNewRoute').click(function () {
                createNewRoute();
            })

        });
    </script>
</body>