<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>KTM-Stages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>

    <div class="container">

        <div class="row">

            <div>
                <button id="getData" class="btn btn-primary">Update</button>
                <button id="createNewRoute" class="btn btn-primary">Create new route</button>

            </div>

        </div>

        <div class="row" id="main_row">
            <div class="col-8">

                <h3>Delivery orders</h3>

                <table id="deliveryOrders" class="table">

                </table>
            </div>

            <div class="col" id="route_tables">
                <h3>Routes</h3>

                <table class="table">

                </table>

            </div>

        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/urls.js}"></script>
    <script type="text/javascript" th:src="@{/js/routes.js}"></script>
    <script type="text/javascript" th:src="@{/js/order_details.js}"></script>

    <script>



        //==========================

        function subFromRoute(id, qty) {
            var v = $("#rd_" + id).val();
            subFromCurrentRoute(getRouteId(), v.id, qty);
        }

        function sub_1(id) {
            subFromRoute(id, 1);
        }

        function sub_10(id) {
            subFromRoute(id, 10);
        }

        function sub_50(id) {
            subFromRoute(id, 50);
        }

        //==========================


        function addToRoute(id, qty) {
            var v = $("#idTr_" + id).val();
            addToCurrentRoute(getRouteId(), v.id, qty);
        }

        function add_1(id) {
            addToRoute(id, 1);
        }

        function add_10(id) {
            addToRoute(id, 10);
        }

        function add_50(id) {
            addToRoute(id, 50);
        }

         //==========================

        function addToCurrentRoute(routeId, deliveryOrderDetailId, qty) {

            $.ajax({
                url: urlPostRouteDtetail + '/' + routeId + '/' + deliveryOrderDetailId + '/' + qty,
                type: "POST",
                success: function () {
                    updateOrderDetails();
                    updateRouteList();
                }
            })

        }

        $(document).ready(function () {

            $('#getData').click(function () {
                updateOrderDetails();
                updateRouteList();
            })

            $('#createNewRoute').click(function () {
                createNewRoute();
            })

        });
    </script>
</body>